@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background: rgb(243, 243, 243);
}
.container {
  display: grid;
  grid-template-areas:
    "header header header "
    "content content content"
    "footer footer footer";
  grid-gap: 40px;
}

.box {
  text-align: center;
}

header {
  grid-area: header;
}

.menu-area li a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}
nav {
  padding: 5px 10px 5px 5px;
  text-align: right;
  background: rgb(36, 36, 36);
}
.logo {
  margin-left: 20px;
  margin-top: 24px;
  float: left;
  text-transform: uppercase;
  color: #fff;
  width: auto;
  font-size: 22px;
  font-weight: 600;
}

.menu-area li {
  list-style: none;
  display: inline-block;
  padding: 12px;
}
.menu-area li a:hover {
  border-bottom: 3px solid #3f6c9b;
  border-radius: 2px;
}

.form-box {
  grid-area: content;
  box-shadow: 0 0 10px 5px #30475e;
  border: 1px solid #222831;
  border-radius: 15px;
  width: 350px;
  height: auto;
  margin: 0 auto;
  color: #000;
  background-color: #d9dde2;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  border-bottom: 6px solid #3f6c9b;
  border-radius: 4px;
  padding: 0 10px 10px 13px;
}

.input-text {
  text-align: center;
  font-size: 14px;
  margin: 20px 0;
  box-sizing: border-box;
  outline: none;
  border: 2px solid #30475e;
  border-radius: 20px;
  width: 220px;
  padding: 10px;
  margin-bottom: 10px;
  transition: 0.25s;
}
.input-text:hover {
  box-shadow: 0 0 5px 4px #3f6c9b;
}

.input-text:focus {
  width: 260px;
}

.input-checkbox {
  cursor: pointer;
  font-size: 17px;
  color: #30475e;
  font-weight: bold;
}

.form-btn {
  display: block;
  margin: 15px auto;
  width: 140px;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #30475e;
  border-radius: 50px;
  cursor: pointer;
}
.form-btn:hover {
  background-color: #30475e;
  color: white;
}

.form-box a {
  text-decoration: none;
  color: #30475e;
  font-weight: 600;
}
.sign-label {
  display: block;
  color: #30475e;
  font-weight: 500;
}

.select-gender label {
  cursor: pointer;
  font-size: 17px;
}
.select-gender {
  display: inline;
  cursor: pointer;
  font-size: 20px;
}
.select-gender input {
  cursor: pointer;
}

.paragraph {
  font-size: 28px;
  text-align: justify;
}
.about-content {
  grid-area: content;

  width: 450px;
  height: auto;
  margin: 0 auto;
}

footer {
  grid-area: footer;
  background-color: rgb(90, 88, 88);
  text-align: center;
  
}
footer p {
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  left: 0;
  opacity: 0.8;
}

footer a {
  text-decoration: none;
  border-radius: 15px;
  display: inline-block;
  margin: 10px;
  border: 0;
  background: #a5a6a7;
  overflow: hidden;
}
footer a i {
  padding: 10px 10px 10px 10px;
  font-size: 22px;
  width: 25px;
  height: auto;
  color: #000;
}

.fa-facebook-f:hover {
  background-color: #1877f2;
  color: #fff;
}

.fa-instagram:hover {
  background-color: #fff;
  color: rgb(235, 19, 37);
}

.fa-twitter:hover {
  background-color: #1877f2;
  color: #fff;
}

.fa-youtube:hover {
  background-color: #fff;
  color: red;
}

.form-box textarea {
  margin: 20px 0;
  text-align: center;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
  border: 2px solid #30475e;
  border-radius: 20px;
  height: 150px;  
  width: 220px;
  padding: 10px;
  resize: none;
  transition: all 0.3s ease-in;
}

.faq-con{
  grid-area: content;
  width: 800px;
  margin: 0 auto;
  
}
.faq-con .ques-ans{
  position: relative;
  margin: 10px 20px;
}

.faq-con h3{
  position: relative;
  padding: 10px;
  background: #30475e;
  color: #fff;
  cursor: pointer;
}

.faq-con h3::before{
  content: '+';
  position: absolute;
  right: 20px;
  top: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.faq-con .active h3::before{
  content: '-';
}


.faq-con p{
  position: relative;
  background: #fff;
  font-size: 18px;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.faq-con .active p{
  height: 100px;
  padding: 10px;
}

.faq-con p a{
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.main-page{
  grid-area: content;
}

.main-page h1{
  margin-top: 100px;
  position: absolute;
  border: 0;
}
.vl {
  display: inline-block;
  border-left: 4px solid #000;
  height: 50px; 
  position: absolute;
  margin-top: 100px;
  margin-left: 0 auto;
}